@model List<WishList.Models.Item>
<h1>WishList</h1>
<a asp-action="Create">Add item</a>
@foreach (var Items in Model)
{
    <ul>
        <li>@Items.Description<a asp-action="delete" asp-route-id="@Items.Id">delete</a></li>
    </ul>
}